{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>宣讲会抢票</title>
		<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/alert.css' %}" />
	</head>
	<body>
		<div class="header">
			<div class="content">
				<span>2019/<br>宣讲会抢票</span>
			</div>
			<img src="{% static 'images/logo.png' %}" alt="" class="cloud">
		</div>
		<div class="white">
            <form action="{% url 'get_preach_ticket' %}" id="get_ticket" method="post" class="box">
				<input type="text" name="name" id="name" placeholder="请输入名字" onfocus="this.placeholder=''" onblur="this.placeholder='请输入名字'" class="name"><!--  姓名--><br/>
				<input type="number" name="stu_id" id="stu_id" placeholder="请输入学号" onfocus="this.placeholder=''" onblur="this.placeholder='请输入学号'" class="student"><!--  学号--><br/>
				<input type="text" name="major" id="major" placeholder="请输入专业学院" onfocus="this.placeholder=''" onblur="this.placeholder='请输入专业学院'" class="major"><!--  专业学院--><br/>
				<select class="time" id="times" name="times">
                <option value="off" >请选择时间</option>
                        {% for id,time in times_dict.items %}
                            <option value="{{ id }}">{{ time }}</option>
                        {% endfor %}
				</select>
                <br/>
                {% csrf_token %}
            </form>
		</div>

		<div class="lbox">
			<input type="submit" value="开始抢票" id="button" onclick="GetTicket()">
{#                    <button class="" id="button" onclick="GetTicket()">开始抢票</button>#}
		</div>


        <script>
    function GetTicket() {
        let name=document.getElementById('name').value;
        let stu_id=document.getElementById('stu_id').value;
        let major=document.getElementById('major').value;
        let objTimes=document.getElementById("times");
        let times=objTimes.options[objTimes.selectedIndex].value;
        if (name=='' ||stu_id=='' ||major=='' ||times=='off'){
            alert('不能为空!!!');
        }
        else {
            document.getElementById("get_ticket").submit();
        }
    }
    </script>
    </body>
</html>
