<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <meta charset="UTF-8">
    <title>宣讲会预约</title>
</head>
<body>
    <h1 align="center">宣讲会预约</h1><br><hr>
    <div align="center">
        {% if result == '' %}

        姓名：<input type="text" name="name" id="name" value="张三" required><br><br>
        学号：<input type="text" name="stu_id" id="stu_id" value="2018000000" required><br><br>
        专业：<input type="text" name="major" id="major" value="计算机科学与技术"><br><br>
        时间：
        <select id="times">
        {% for id,time in times_dict.items %}
{#            <option value="1">12:30-14:00</option>#}
{#            <option value="2">18:30-20:00</option>#}
            <option value="{{ id }}">{{ time }}</option>
        {% endfor %}
        </select>
        <br><br>
        <button onclick="MovieSearch()">提交</button>
        {% endif %}


        {% if result != '' %}
            {% if code == 1 %}
                <h1>{{ name }}同学</h1>
                <h1>票号:{{ result }}</h1>
                <img src="http://qr.topscan.com/api.php?text=http://www.changyaojie.xyz{% url 'ticket_checked' %}?ticket_id={{ result }}">
                <h1>请持此票于{{ times }}来参加宣讲会</h1>
            {% elif code == 0 %}
                <h1>{{ result }}</h1>
            {% endif %}
        {% endif %}
    </div>


<script>
    function MovieSearch() {
        let name=document.getElementById('name').value;
        let stu_id=document.getElementById('stu_id').value;
        let major=document.getElementById('major').value;
        let objTimes=document.getElementById("times");
        let times=objTimes.options[objTimes.selectedIndex].value;
        if (name=='' ||stu_id=='' ||major==''){
            alert('不能为空!!!')
        }
        else {
            {#window.open('/ticket/get_preach_ticket/?name='+name+'stu_id='+stu_id+'major='+major);#}
            window.location.href='/ticket/get_preach_ticket/?name='+name+'&stu_id='+stu_id+'&major='+major+'&times='+times
        }
    }
</script>

</body>
</html>