<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <meta charset="UTF-8">
    <title>宣讲会预约</title>
</head>
<body>
    <h1 align="center">宣讲会预约</h1><br><hr>
    <div align="center">
        <form action="{% url 'get_preach_ticket' %}" method="post">
                姓名：<input type="text" name="name" id="name" value="张三" required><br><br>
                学号：<input type="text" name="stu_id" id="stu_id" value="2018000000" required><br><br>
                专业：<input type="text" name="major" id="major" value="计算机科学与技术"><br><br>
                时间：
                <select id="times" name="times">
                    {% for id,time in times_dict.items %}
                        <option value="{{ id }}">{{ time }}</option>
                    {% endfor %}
                </select>
                <br><br>
            <input type="submit" value="提交">
            {% csrf_token %}
            </form>
{#        <button onclick="MovieSearch()">提交</button>#}

    </div>


<script>
    function MovieSearch() {
        let name=document.getElementById('name').value;
        let stu_id=document.getElementById('stu_id').value;
        let major=document.getElementById('major').value;
        let objTimes=document.getElementById("times");
        let times=objTimes.options[objTimes.selectedIndex].value;
        if (name=='' ||stu_id=='' ||major==''){
            alert('不能为空!!!')
        }
        else {
            {#window.open('/ticket/get_preach_ticket/?name='+name+'stu_id='+stu_id+'major='+major);#}
            window.location.href='/ticket/get_preach_ticket/?name='+name+'&stu_id='+stu_id+'&major='+major+'&times='+times
        }
    }
</script>

</body>
</html>